<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.aaron.graduationdesign.models.Product">
	<resultMap id="Product" type="com.aaron.graduationdesign.models.Product">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="proNum" column="pro_num" jdbcType="VARCHAR"/>
		<result property="proName" column="pro_name" jdbcType="VARCHAR"/>
		<result property="proGgxh" column="pro_ggxh" jdbcType="VARCHAR"/>
		<result property="proUnion" column="pro_union" jdbcType="VARCHAR"/>
		<result property="proTotalSaleCount" column="pro_total_sale_count" jdbcType="NUMERIC"/>
		<result property="proCurrentStock" column="pro_current_stock" jdbcType="NUMERIC"/>
		<result property="proAdviceSalePrice" column="pro_advice_sale_price" jdbcType="NUMERIC"/>
		<result property="proManufacturer" column="pro_manufacturer" jdbcType="VARCHAR"/>
		<result property="craeteTime" column="craete_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="proUpdateUser" column="pro_update_user" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns">
		id,pro_num,pro_name,pro_ggxh,pro_union,pro_total_sale_count,pro_current_stock,pro_advice_sale_price,pro_manufacturer,craete_time,update_time,pro_update_user
	</sql>
	
	<select id="list" resultMap="Product">
		select <include refid="columns" /> from products where pro_update_user = #{userId, jdbcType=VARCHAR}
	</select>
	<select id="info" resultMap="Product">
		select <include refid="columns" /> from products where id = #{id, jdbcType=VARCHAR}
	</select>
	<update id="update" parameterType="com.aaron.graduationdesign.models.Product">
		update products set 
			pro_num=#{proNum, jdbcType=VARCHAR},
			pro_name=#{proName, jdbcType=VARCHAR},
			pro_ggxh=#{proGgxh, jdbcType=VARCHAR},
			pro_union=#{proUnion, jdbcType=VARCHAR},
			pro_total_sale_count=#{proTotalSaleCount, jdbcType=NUMERIC},
			pro_current_stock=#{proCurrentStock, jdbcType=NUMERIC},
			pro_advice_sale_price=#{proAdviceSalePrice, jdbcType=NUMERIC},
			pro_manufacturer=#{proManufacturer, jdbcType=VARCHAR},
			update_time=#{updateTime, jdbcType=TIMESTAMP},
			pro_update_user=#{proUpdateUser, jdbcType=VARCHAR}
		where id=#{id, jdbcType=VARCHAR}
	</update>
	<insert id="insert" parameterType="com.aaron.graduationdesign.models.Product">
		insert into products values
		(
			#{id, jdbcType=VARCHAR},
			#{proNum, jdbcType=VARCHAR},
			#{proName, jdbcType=VARCHAR},
			#{proGgxh, jdbcType=VARCHAR},
			#{proUnion, jdbcType=VARCHAR},
			#{proTotalSaleCount, jdbcType=NUMERIC},
			#{proCurrentStock, jdbcType=NUMERIC},
			#{proAdviceSalePrice, jdbcType=NUMERIC},
			#{proManufacturer, jdbcType=VARCHAR},
			#{craeteTime, jdbcType=TIMESTAMP},
			#{updateTime, jdbcType=TIMESTAMP},
			#{proUpdateUser, jdbcType=VARCHAR}
		)
	</insert>
	<delete id="del" parameterType="list">
		delete from products where    id in                                    
		<foreach collection="list" item="id" open="(" close=")" separator=",">
		#{id, jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	
	<!--自定义sql从此处开始-->
	<select id="listAllProduct" resultMap="Product">
		select <include refid="columns" /> from products order by update_time desc
	</select>
	
</mapper>
